{% extends '@NicolasPhotographie/Default/base.html.twig' %}

{% block content %}
    <div class="imgdefond">

        <div class="container-fluid contentbase">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-4 lg-5 text-center size-home">
                        <div class="col-12"><p>Nicolas Godineau</p></div>
                        <div class="col-12 barree"></div>
                        <div class="col-12"><p>Photographie</p></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

